@charset "utf-8";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Questrial|Henny+Penny|Bonbon);

body {
  font-family: 'Questrial', sans-serif;
}

h1 {
  font-family: 'Bonbon', cursive;
}

.copyright {
  font-family: 'Henny Penny', cursive;
}
